version: '3'
services:
  minecraft-server:
    build:
      context: ./build/minecraft-server
    environment:
      EULA: "true"
      DIFFICULTY: ${DIFFICULTY}
      VERSION: ${MINECRAFT_VERSION}
      MEMORY: ${MINECRAFT_SERVER_MEMORY}
    tty: true
    stdin_open: true
    volumes:
      - server-data:/data
    ports:
      - ${MINECRAFT_SERVER_PORT}:25565
  overviewer:
    build:
      context: ./build/overviewer
    environment:
      MINECRAFT_VERSION: ${MINECRAFT_VERSION}
      RENDER_MAP: ${RENDER_MAP}
      RENDER_POI: ${RENDER_POI}
    volumes:
      - server-data:/home/minecraft/server:ro
      - overviewer-web:/home/minecraft/render:rw
  overviewer-web:
    build:
      context: ./build/overviewer-web
    volumes:
      - overviewer-web:/usr/share/nginx/html:ro
    ports:
      - ${OVERVIEWER_WEB_PORT}:80
  backup:
    build:
      context: ./build/backup
volumes:
  shared:
  overviewer-web:
  server-data:
